
<div class="index_container">
  <div class="Authors">
    <img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/kyle_simpson.jpg" alt="" width="300" height="360" />
    <h1><a href="/authors">Authors</a></h1>
  </div>
  <div class="Books">
    <img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/es6_and_beyond.jpg" alt="" width="300" height="360" />
    <h1><a href="/books">Books</a></h1>
  </div>
</div>

<style type="text/css">
navigation {
display:none;
}
</style>
