<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <a href="/"><img src="../images/readsLogo.png" alt="" width="50" height="50"/></a>
    </header>
    <navigation>
        <ul>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
    </navigation>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
